/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

header#djcustom-header{
	position: absolute;
    z-index: 99;
    top: 45px;
    left: 0;
    right: 0;
}
.uabb-tab-current .uabb-tab-link, 
.uabb-tab-current, .uabb-tab-current h4{
	border: none!important;
	outline: none!important;
}
.uabb-tab-link:focus{
	border: none!important;
}
header .uabb-photo-content img {
    display: block!important;
    opacity: 1!important;
}
.custom_searchHeader .fl-icon:hover{
	cursor: pointer!important;
}
.gform_wrapper .gfield_time_hour i {
    margin-top: 0px!important;
}
.gform_wrapper .top_label input.medium.datepicker{
	max-width: 100%!important;
}
.homeSlider .fl-slide.fl-slide-0 .fl-slide-photo{
		margin-top: 200px!important;
	}	 
.gform_wrapper .gfield .ginput_container select{
		padding-left: 8px!important;
	    padding-right: 8px!important;
}
.topBar .storename, .topBar p{
	margin-bottom: 0px!important;
}
footer .storename a:hover{
    text-decoration: underline!important;
}
.fl-404 {
	padding: 150px 0 150px;
}
.topBar .storename .phone a > span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;	
}
.fixed-header-top-bar .fl-row-content-wrap,
.fixed-header .fl-row-content-wrap{
	background: transparent !important;
}
.sticky-header{
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 0.3s;
}
.fl-archive > .row > .col-lg-8, .fl-archive > .row > .fl-sidebar.col-md-4, .fl-page-content > .container > .row > .col-lg-8, .fl-page-content > .container > .row > .fl-sidebar.col-md-4 {
	    padding-top: 180px!important;
} 
#breadcrumbs > .container{
	width: 100%;
	max-width: 1100px!important;
}
.social-icons a:hover i{
	color: #000!important;
}
#breadcrumbs{
    z-index: 20;
}	
@media(min-width: 1024px){
#breadcrumbs{
	position: absolute;
    top: 150px;
    z-index: 20;
	width: 100%;
}	
/* .fl-page-content .container .row > .col-lg-8, .fl-page-content .container .row > .col-md-8, .fl-page-content .container .row > .col-md-4, .fl-page-content .container .row > .col-md-8{
	padding-top: 140px!important;
} */
	
  .sticky-header.sticky-header-active {
    height: auto !important;
      overflow: visible !important;
      width: 100% !important;
    }

}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}
.fl-node-5c75183d2d713 .fl-slide-1 .fl-slide-content{
    margin-top: 0px;
}
.phone>a {
    font-weight: 400;
    color: #68bfd8;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content-wrap{
    width: 100%!important;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text{
    font-size: 25px;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content{
    padding-top: 180px;
}
.fl-slide-2 .fl-slide-content-wrap .fl-slide-text{
    background: rgba(0,0,0,0.40);
    color: #fff!important;
    padding: 10px;
}
.fl-slide-2 .fl-slide-content-wrap .fl-slide-text p{
    color: #fff!important;
}
.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text *{
    color: #000!important;
}
.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text .fl-button span{
    color: #fff!important;
}
.fl-node-5c75183d2d713 .fl-slide-4 .fl-slide-photo-wrap .fl-slide-photo{
    margin-bottom: 0px!important;
}
.fl-node-5c75183d2d713 .fl-slide-foreground{
        display: flex;
    flex-direction: column-reverse;
}

.fl-theme-builder-header-shrink .custom_searchModule .fl-module-content {
	padding: 20px 0px!important;
}

.moove-gdpr-button-holder .mgbutton {
	background-color: #3D9BB3!important;	
}
.moove-gdpr-button-holder .mgbutton:hover {
	color: #000!important;	
}
.row .product .product-detail-layout-5 {
	padding-top: 180px!important;	
}
.product-box > .row > .col-md-6 > h1{
	font-size: 22px!important;
}
.search-row{
	padding-top: 180px!important;
	padding-left: 20px!important;
	padding-right: 20px!important;
}
.search-row .plp-view-product{
	color: #fff!important;
    background-color: #2e9bb4!important;
    font-family: "Montserrat",sans-serif!important;
    display: block!important;
	padding: 12px 24px!important;
}
.gfield_time_ampm > select{
	    max-width: 60px!important;
}
.gform_wrapper .gfield_time_ampm select {
    min-width: 80px!important;
    width: 80px!important;
}
.headerMenu .uabb-menu-toggle{
	display: none!important;
}
.facet_filters .facet-wrap>strong{
	    border-bottom: 2px solid #3d9bb3!important;
}
.facet_filters strong{
	color:#3d9bb3!important;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #3d9bb3;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #3d9bb3;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.facetwp-selections ul li .facetwp-selection-value{
	font-size: 14px;
    color: #000;
}

.facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 20px;
}
div#breadcrumbs {
    position: absolute;
    top: 154px;
    width: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
    background: transparent!important;
    color: #fff;
    text-transform: capitalize;
    font-size: 11px;
    z-index: +9;
 
}
div#breadcrumbs a {
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-weight: medium;
    text-decoration: none!important;
}
div#breadcrumbs a:hover {
    color: #3288c1;
}
.single div#breadcrumbs a, .single div#breadcrumbs,
.blog div#breadcrumbs a, .blog div#breadcrumbs, 
.category div#breadcrumbs a, .category div#breadcrumbs {
    color: #000;
}
.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #2e9bb4!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #3288c1!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}
.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row.search-row {
    display: block;
}
body.search div#breadcrumbs * {
    color: #3d9bb3!important;
}

body.search div#breadcrumbs a:hover {
    color: #000!important;
}
@media(max-width: 1220px) {
	header .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
}
@media (min-width:992px) {
	.custom_searchModule {
		display: none;
		z-index: 2;
		position: absolute;
		right: 0px;
		padding: 5px 20px;
		max-width: 600px!important;
		width: 100%!important;
	}
	.homeSlider .fl-slide .fl-slide-photo {
		margin-top: 200px!important;
	}
}
@media(max-width:1024px) {
	.row .product .product-detail-layout-5 {
		padding-top: 220px!important;	
	}
	.topBar *{
		font-size: 14px!important;
	}	
	#breadcrumbs {
		position: absolute;
		top: 190px;
		z-index: 10;
		width: 100%;
	}
	.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text{
		font-size: 15px;
	}
	.fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
    .headerMain .headerRightNav {
        margin-left: 30px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }

}
@media (max-width: 992px){
    .style-list .back-button {
        z-index: 15 !important;
    }
	.headerMenu{
		margin-right: 20px;
	}
	/* Facet Filter CSS	- iPad */
	.facet_filters .close_bar {
        display:block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
        text-align: center
    }
    #product-list-top-filters .fl-heading,.facetwp-counts,.facetwp-pager,.facetwp-per-page,.open_sidebar {
        text-align: center!important
    }
    .facetwp-per-page-select {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
	.open_sidebar a {
		float: none!important;
	}
	.facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
	.facetwp-pager {
        float: none!important;
        margin-top: 10px
    }
	/* Products List CSS - iPad */
	.facetwp-template .product-grid .product-row>.col-md-4 {
        width:33.33%;
        float: left;
        clear: none!important
    }
/*     .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left!important
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: none!important
    } */
	
	.sliderPhoto img {
		width: 150px!important;
	}
	.homeSlider .fl-slide.fl-slide-1 .fl-slide-content{
		padding: 0px!important;
	}
	#breadcrumbs {
		top: 170px;
	}
	.uabb-creative-menu.off-canvas ul.menu > li > a, .uabb-creative-menu.off-canvas ul.menu > li > div >a{
		text-align: left!important;	
	}

	.uabb-creative-menu.off-canvas ul.menu > li > .sub-menu a{
		text-align: left!important;	
	}

	.store-opening-hrs{
		margin-right: 180px!important;	
	}
	.custom_searchModule {
		display: none;
		z-index: 2;
		position: absolute;
		right: 0px;
		padding: 5px 20px;
		max-width: 100%!important;
		width: 100%!important;	
	}
	.searchIcon {
		position: static;
	}
	.headerMain .fl-col-group {
		display: flex;
		align-items: center;
	}
    .headerMain .headerRightNav {
        margin: 0;
    }
    .headerMain .headerLogo {
        flex: 2;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .headerMain .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain .phone.retailer span{
        font-size: 0;
    }
    .iPadFooter .fl-col-group {
        display: flex;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    ul#menu-copyright-bar-menu {
        display: flex;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
        margin-top: 2px !important;
    }
    .gform_wrapper.gf_browser_safari .gfield_checkbox li input, .gform_wrapper.gf_browser_safari .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_safari .gfield_radio li input[type=radio] {
        margin-top: 0px !important;
	}
	.fl-content-slider .fl-slide-bg-photo {
		position: absolute!important;
		min-height: 700px!important;
	}
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 700px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 700px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 700px!important;
		width: auto;
		margin: 0 auto;
		margin-top: 100px!important;
    }
    .fl-content-slider .fl-slide {
        min-height: 700px !important;
		max-height: 700px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		margin: 0 !important;
		padding: 0px!important;
	}
}

@media(max-width:767px) {
	.store-opening-hrs{
		margin-right: 0px!important;	
	}
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
}
@media only screen and (max-width: 599px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
        width:48%;
        clear: none !important
    }
/* 	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	} */
	div#breadcrumbs {
		top: 140px;
	}
}
/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
    /* Slider height issue on mobile open */
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
    .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
    /* Slider height issue on mobile closed */
    
	/* Facet Filter CSS	- iPad */
	.facet_filters .close_bar {
        display:block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
        text-align: center
    }
    #product-list-top-filters .fl-heading,.facetwp-counts,.facetwp-pager,.facetwp-per-page,.open_sidebar {
        text-align: center!important
    }
    .facetwp-per-page-select {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
	.open_sidebar a {
		float: none!important;
	}
	.facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
	.facetwp-pager {
        float: none!important;
        margin-top: 10px
    }
	/* Products List CSS - iPad */
	.facetwp-template .product-grid .product-row>.col-md-4 {
        width:33.33%;
        float: left;
        clear: none!important
    }
/*     .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left!important
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: none!important
    } */
}
@media only screen and (max-width: 599px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
        width:48%;
        clear: none !important
    }
/* 	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	} */
}
@media only screen and (max-width: 480px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
		width:100%;
		clear: both !important
	}
    
}
/* PLP Page Css iPad Air */
@media only screen and (max-width: 480px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
		width:100%;
		clear: both !important
	}
	.gfield {
		padding-right: 15px!important;	
	}
	#breadcrumbs {
		top: 130px;
		z-index: 4;
	}
	.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox]{
		vertical-align: top!important;
	}
	.galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
		width: 100%;
	}
	.location-top .fl-button{
		text-align: unset;
	}
	.fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
		right: 20px;
	}
	.fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
		left: 20px;
	}
	.iPadFooter .fl-col-group{
		flex-direction: column;
	}
	.iPadFooter .fl-col-group .fl-col{
		flex: 2;
		width: 100% !important;
		text-align: center;
	}
	ul#menu-copyright-bar-menu{
		justify-content: center;
	}
}

 .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #3d9bb3 !important;
    color: #3d9bb3 !important;
}
